<h1> 
  <div class="total"> Total Items found: <%= @total_results %> </div>  
</h1>

<% @top_ten_foods.each do |food| %>
  <section class="food">
    <li class="description">Description: <%= food.description %></li>
    <li class="gtinupc">UPC: <%= food.gtinupc %></li>
    <li class="ingredients">Ingredients: <%= food.ingredients %></li>
    <li class="brand_owner">Brand Owner: <%= food.brand_owner %></li><br>
    <br>
  </section>
<% end %>